span.copy-anchor-icon {
  line-height: 90%;
}
span.copy-anchor-icon.clicked::after {
  content: "Copied!";
  font-size: 10px;
  font-weight: normal;
}

.cai-oi, .cai-of, .cai-li, .cai-lh, .cai-gi, .cai-gh, .cai-gf {
  display: none;
  position: relative;
  cursor: pointer;
}
.cai-gf { display: inline; }

.cai-oi::before, .cai-of::before, 
.cai-li::before, .cai-lh::before, 
.cai-gi::before, .cai-gh::before, .cai-gf::before {
  font-size: 8px;
  position: absolute;
  top: 0;
}

.cai-oi::before { content: "OI"; }
.cai-of::before { content: "OF"; }
.cai-li::before { content: "LI"; }
.cai-lh::before { content: "LH"; }
.cai-gi::before { content: "GI"; }
.cai-gh::before { content: "GH"; }
.cai-gf::before { content: "GF"; }
